
    <%= link_to article_path(article), class: 'blog-posts__item', style: "background-image: url('#{article.image.url ? article.image.url : asset_path('no_image.jpg')}')" do %>
      <div class="item__info">
        <div class="info__title"><%= article.title %></div>
        <div class="info__short-descr"><%= article.subtitle %><br><span>READ</span></div>
      </div>
    <% end %>
