<% content_for :body_class, 'blog-page' %>


<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Admin user</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= article.tags %></td>
        <td><%= article.admin_user %></td>

      </tr>
    <% end %>
  </tbody>
</table>

