<% content_for :body_class, 'client-services' %>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="hero__title  col-12">
        <h1>Give us some details</h1>
        <div class="round"></div>
        <h3>We’ll call you back</h3>
      </div>
    </div>
  </div>
  <div class="hero__orb  hero__orb--1">
    <img src="<%= asset_path('orb-10.png') %>" alt="">
  </div>
</div>
<div class="call-back">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="call-back__container">
          <h3 class="call-back__title">Request a call back</h3>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
