<div id="cookies-bar" >
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="col-md-9 col-sm-12">
        <p>We are using cookies to give you the best experience on our site. You can accept or deny it by using buttons at the right hand side.</p>
      </div>

      <div class="col-md-3 col-sm-12 text-right">
        <%= link_to 'I accept', request.original_url, class: 'btn btn-default', id: 'accept-cookies' %>
        <%= link_to 'Decline', request.original_url, class: 'btn btn-default', id: 'decline-cookies' %>
      </div>
    </div>
  </div>
</div>
