<div class="quote">
  <p>In today’s fast-paced world, GAN really stands out by providing fantastic service and genuine human connection which is very rare. Working with my consultant has been a real pleasure and a much personalised experience.</p>
  <h4>Financial Controller, Architecture and Design</h4>
</div>
<div class="quote">
  <p>My Consultant at GAN was without a doubt the most helpful and proactive recruitment professional I dealt with during my search to find an attractive and stimulating role in London. This was by no means an easy task in a post-Brexit environment.</p>
  <h4>Finance Manager, PE-Backed Aviation Business</h4>
</div>
<div class="quote">
  <p>We embarked on an ambitious global ERP implementation. GAN were engaged to help us resource the finance project team. They quickly understood our requirements, which was key in a fast-paced, business critical programme. They provided high-calibre candidates, well suited to our needs, in very short order. I would happily recommend them.</p>
  <h4>Head of Financial Operations, International Media Company</h4>
</div>
<div class="quote">
  <p>GAN are always my first stop when I’m looking for new recruits as they are head and shoulders above the rest. I always know that I will receive exceptional service.</p>
  <h4>Senior Finance Manager, FTSE 250 engineering firm</h4>
</div>
<div class="quote">
  <p>I have known my consultant at GAN for a number of years, working with him as both a client and a candidate in that time. He is a breath of fresh air; an honest, straightforward recruitment professional with exceptional market knowledge and a strong focus on customer needs.</p>
  <h4>Commercial Director, Restaurant Industry</h4>
</div>
<div class="quote">
  <p>Working with Global has been a very pleasant experience. They have been attentive and understood our brief with authoritative feedback. The candidates presented demonstrated this understanding and saved us a lot of time.</p>
  <h4>Director of Shared Financial Services, Global Media Group</h4>
</div>
<div class="quote">
  <p>My consultant at GAN was not just a breath of fresh air, but a whirlwind of activity, that blew away my notions of what good looks like for a recruiter. We had a brace of no nonsense, candid conversations about the role that set me in good stead for the challenge ahead.</p>
  <h4>CEO, PE Backed Tech Firm</h4>
</div>
<div class="quote">
  <p>Global Accounting has been the best recruitment agency I have used over the last 5 years.  They intelligently filter candidates and then support them through the recruitment process.</p>
  <h4>Finance Director, FTSE 5 Organisation</h4>
</div>
<div class="quote">
  <p>I have used Global Accounting Network as both a candidate and a client, finding the service excellent on each occasion. My contact was consultative and knowledgeable, avoiding the hard sell and delivering actual solutions where other agencies had struggled.</p>
  <h4>CFO, Luxury Retail</h4>
</div>
<div class="quote">
  <p>Global Accounting Network has been successful in placing a number of hard to fill roles at in our organisation over the last few years. They add real value as a trusted recruitment partner with their thorough, honest and quality focused approach.</p>
  <h4>HR Manager, global e-commerce company</h4>
</div>



