<div class="quote">
  <p>Working with Global has been a very pleasant experience. They have been attentive and understood our brief with authoritative feedback. The candidates presented demonstrated this understanding and saved us a lot of time.</p>
  <h4>Financial Controller, Architecture and Design</h4>
</div>
<div class="quote">
  <p>My consultant at GAN was not just a breath of fresh air, but a whirlwind of activity, that blew away my notions of what good looks like for a recruiter. We had a brace of no nonsense, candid conversations about the role that set me in good stead for the challenge ahead.</p>
  <h4>Financial Controller, Architecture and Design</h4>
</div>
<div class="quote">
  <p>Global Accounting has been the best recruitment agency I have used over the last 5 years.  They intelligently filter candidates and then support them through the recruitment process.</p>
  <h4>Financial Controller, Architecture and Design</h4>
</div>
<div class="quote">
  <p>I have used Global Accounting Network as both a candidate and a client, finding the service excellent on each occasion. My contact was consultative and knowledgeable, avoiding the hard sell and delivering actual solutions where other agencies had struggled.
  </p>
  <h4>Financial Controller, Architecture and Design</h4>
</div>
<div class="quote">
  <p>Global Accounting Network has been successful in placing a number of hard to fill roles at in our organisation over the last few years. They add real value as a trusted recruitment partner with their thorough, honest and quality focused approach.</p>
  <h4>Financial Controller, Architecture and Design</h4>
</div>