<div class="slider__item">
  <h2>GAN has grown 40%</h2>
  <p>year on year in 2017/8, in a market that has grown by single figures. As a business that gets paid upon successful placement, this shows we are beating the competition over and over again.</p>
</div>
<div class="slider__item">
  <h2>98% success rate</h2>
  <p>on retained searches. We are obsessed with delivery.</p>
</div>
<div class="slider__item">
  <h2>90% success rate</h2>
  <p>from first shortlist in our assessment days. Fill your role from 5 candidates or less.</p>
</div>
<div class="slider__item">
  <h2>1% fall out rate</h2>
  <p>from placed candidates, compared to the market average of 9%</p>
</div>
<div class="slider__item">
  <h2>1% fall out rate</h2>
  <p>from placed candidates, compared to the market average of 9%</p>
</div>
<div class="slider__item">
  <h2>72% extension rate</h2>
  <p>in our interim assignments, with 97% of contractors successfully completing their contracts.</p>
</div>
<div class="slider__item">
  <h2>Over 50 years’ recruitment experience</h2>
  <p>in our leadership team, who have seen the good, the bad and the ugly of the industry and built our business accordingly.</p>
</div>