<% content_for :body_class, 'contact-us  contact-us-candidates' %>

<div class="hero">
  <div class="container">
    <div class="row">
      <div class="hero__title  col-12">
        <h1>Get in touch</h1>
      </div>
    </div>
  </div>
  <div class="hero__orb  hero__orb--1">
    <img src="<%= asset_path('orb-10.png') %>" alt="">
  </div>
</div>
<div class="contact-us-form  contact-us-form--candidates">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-us-form__container">
          <h3 class="contact-us-form__title">Register Interest</h3>
          <p class="contact-us-form__descr">Register your CV with us and increase your chances of an interview before a job is even advertised</p>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>