<% content_for :body_class, 'client-services' %>

<%= render 'partials/text_page_hero_section.html', title: 'Recruiting in a world where people count', subtitle: 'Finance talent for your business' %>
<div class="register-vacancy">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="register-vacancy__container">
          <h3 class="register-vacancy__title" style="order: 0;">Register a Vacancy</h3>
          <%= render 'contact_client/form' %>
          <p class="register-vacancy__descr">We’ll be in touch within one working day to discuss the job description and understand the uniqness of your organisation.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="charter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title-block">
          <h3>Candidate Charter</h3>
          <div class="round"></div>
          <p>Our 8-point Charter is designed to ensure all service levels are upheld, that each project is properly structured and to promise clear lines of communication in every phase. </p>
        </div>
      </div>
      <div class="col-12">
        <div class="charter__items  owl-carousel">
          <div class="charter__item" style="color: #008CFF">
            <h4>Understanding your business need</h4>
            <div class="number">1</div>
            <p>We gain a detailed understanding of the talent you need, why the candidate profile is important to you and what you need the talent to deliver within your organisation.</p>
          </div>
          <div class="charter__item" style="color: #D21E46">
            <h4>Applying our expertise to your challenge</h4>
            <div class="number">2</div>
            <p>You will benefit from our market knowledge as we assist with the development and/or revision of your job specification.</p>
          </div>
          <div class="charter__item" style="color: #8CC832">
            <h4>Being up-front and transparent with you</h4>
            <div class="number">3</div>
            <p>If the candidates with the skills you are seeking are not available within your budget, or having understood your hiring objectives we believe that there is an alternative solution, we will tell you.</p>
          </div>
          <div class="charter__item" style="color: #000047">
            <h4>Developing your plan</h4>
            <div class="number">4</div>
            <p>Having developed and finalised a job description for the specific candidates you need, we will agree a plan that details the part each of us plays in the process, the timelines and milestones.</p>
          </div>
          <div class="charter__item" style="color: #F5A623">
            <h4>Matching people to people</h4>
            <div class="number">5</div>
            <p>We present you with a shortlist of people who can all do the job – that’s the science. The art is matching people with people and finding you the people you want to spend your working hours with. We take pride in that.</p>
          </div>
          <div class="charter__item" style="color: #8B572A">
            <h4>Keeping you updated</h4>
            <div class="number">6</div>
            <p>Once the recruitment process begins, we communicate, reporting regularly on our progress against agreed milestones and objectives to keep you updated. We also ensure that you are aware of changing market conditions and the impact they may have on your recruitment campaign.</p>
          </div>
          <div class="charter__item" style="color: #417505">
            <h4>Offering you balanced candidate appraisals</h4>
            <div class="number">7</div>
            <p>As we start to assemble a shortlist, we will provide an in-depth briefing by highlighting the strengths, suitability, culture and fit of each candidate. Our balanced appraisal will also flag any additional features of each candidate to make you aware of all of their strengths and weaknesses</p>
          </div>
          <div class="charter__item" style="color: #4A4A4A">
            <h4>Delivering you candidate insights and feedback</h4>
            <div class="number">8</div>
            <p>Sourcing top talent is a two-way process, and many skills areas are candidate-driven, particularly when a market is very active and when searching for hard-to-source skills. We help you to sell your opportunity to each individual candidate, because we know what the candidate is likely to be seeking.</p>
          </div>
          <div class="charter__item-total  charter__item-total--pink">
            <p>Our role is to help you to fill your vacancies and deliver on your business objectives. Whatever the outcome, we aim to ensure you and the candidates benefit from your recruitment experience. And you will be joining our extended network of people who we encourage to interact, exchange contacts, and share knowledge.</p>
            <a href="#">Request a call back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stats">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="stats__slider  stats__slider--pink owl-carousel">
          <div class="slider__item">
            <h2>95% fill rate</h2>
            <p>from retained search</p>
          </div>
          <div class="slider__item">
            <h2>95% fill rate</h2>
            <p>from retained search</p>
          </div>
          <div class="slider__item">
            <h2>95% fill rate</h2>
            <p>from retained search lorem</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="methods">
  <div class="container">
    <div class="row">
      <div class="methods__title  col-12  col-lg-10  offset-lg-1">
        <h3>Smart methods to ensure a more certain hire</h3>
        <div class="round"></div>
        <p>You can benefit from different delivery methods according to your business needs and objectives. Alongside conventional retained and contingent search and assessment days, our services include working interviews and knowledge partner visits. These enable you to assess candidates’ on-the-job performance before you commit.</p>
      </div>
      <div class="methods__items  col-12  col-lg-10  offset-lg-1" id="accordion">
        <div class="nav-desktop__items">
          <button class="nav-desktop__item " data-toggle="collapse" data-target="#methodsCollapseOne" aria-expanded="true" aria-controls="methodsCollapseOne">
            Assessment Days
          </button>
          <button class="nav-desktop__item  collapsed" data-toggle="collapse" data-target="#methodsCollapseTwo" aria-expanded="true" aria-controls="methodsCollapseTwo">
            Working Interviews
          </button>
          <button class="nav-desktop__item  collapsed" data-toggle="collapse" data-target="#methodsCollapseThree" aria-expanded="true" aria-controls="methodsCollapseThree">
            Specialist Partner Visits
          </button>
        </div>
        <div class="methods__item">
          <button class="item__nav-mobile" data-toggle="collapse" data-target="#methodsCollapseOne" aria-expanded="true" aria-controls="methodsCollapseOne">
            Assessment Days
          </button>
          <div class="item__descr  collapse  show"  id="methodsCollapseOne" aria-labelledby="methodsHeadingOne" data-parent="#accordion">
            <div class="wrap">
              You’re great at finance, we’re great at recruitment. Let us take the pain of hiring away by running assessment days for multiple candidates at our central London offices, or at a location convenient for you and your candidates.
            </div>
          </div>
        </div>
        <div class="methods__item">
          <button class="item__nav-mobile  collapsed" data-toggle="collapse" data-target="#methodsCollapseTwo" aria-expanded="true" aria-controls="methodsCollapseTwo">
            Working Interviews
          </button>
          <div class="item__descr  collapse"  id="methodsCollapseTwo" aria-labelledby="methodsHeadingTwo" data-parent="#accordion">
            <div class="wrap">
              You need to be sure that the interims you hire can be effective and deliver on their assignment from day one. We can arrange for you to see potential interim hires in action by arranging one-day working interviews.
            </div>
          </div>
        </div>
        <div class="methods__item">
          <button class="item__nav-mobile  collapsed" data-toggle="collapse" data-target="#methodsCollapseThree" aria-expanded="true" aria-controls="methodsCollapseThree">
            Specialist Partner Visits
          </button>
          <div class="item__descr  collapse"  id="methodsCollapseThree" aria-labelledby="methodsHeadingThree" data-parent="#accordion">
            <div class="wrap">
              If you are facing a particular challenge and want to explore your options, we can arrange for a two-hour three-way brainstorm with one of our consultants and a subject matter expert. After listening to you, understanding and discussing your needs, the outcome could be a solution that requires an interim or new employee.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>