.contact-us .header .header__nav .nav__phone .phone__icon svg {
  fill: #0E0E77;
}

.contact-us .hero {
  background-color: #0E0E77;
}

.contact-us-candidates .header .header__nav .nav__phone .phone__icon svg {
  fill: #008CFF;
}

.contact-us-candidates .hero {
  background-color: #008CFF;
}

.contact-us-clients .header .header__nav .nav__phone .phone__icon svg {
  fill: #D21E46;
}

.contact-us-clients .hero {
  background-color: #D21E46;
}

.contact-us--join-our-team .header .header__nav .nav__phone .phone__icon svg {
  fill: #F58A23;
}

.contact-us--join-our-team .hero {
  background-color: #F58A23;
}
