.diversity {
  .cls-1 {
    fill: #EDEEEF;
  }

  .hero__orb--2, .hero__orb--3 {
    display: none;
  }
}

.diversity .header:not(.header--open) .header__nav {

  .nav__phone .phone__icon {
    background-color: #EDEEEF;

    svg {
      fill: #EDBF00;
    }
  }

  .toggle__text {
    color: #EDEEEF;
  }

  .toggle__btn {

    span {
      background-color: #EDEEEF;
    }
  }

  .nav__phone p {
    color: #EDEEEF;
  }
}

.diversity .hero {
  background-color: #EDBF00;
}
