
			/* podcast shortcode styles */

			.podcast-info__listen {
				margin-top: 20px;
				display: flex;
    		flex-wrap: wrap;
			}

			.listen__item {
				background-color: #000000;
				background-image: image-url('listen_on.svg');
				background-repeat: no-repeat;
				background-size: 915px 28px;
				border-radius: 5px;
				float: left;
				margin: 0 10px 10px 0;
				text-indent: -9000px;
				transition: transform 0.2s;
			}
			.listen__item:hover {
				transform: scale(1.05);
			}
			.listen__item--apple {
				background-position: 10px 7px;
				height: 40px;
				width: 162px;
			}
			.listen__item--spotify {
				background-position: -182px 7px;
				height: 40px;
				width: 106px;
			}
			.listen__item--overcast {
				background-position: -805px 7px;
				height: 40px;
				width: 117px;
			}
			.listen__item--google {
				background-position: -468px 7px;
				height: 40px;
				width: 172px;
			}
			.listen__item--stitcher {
				background-position: -669px 7px;
				height: 40px;
				width: 106px;
			}
			.listen__item--rss {
				background-position: -317px 7px;
				height: 40px;
				width: 121px;
			}
			.listen__item--more {
				border: 1px solid #ededed;
				border-radius: 5px;
				box-sizing: border-box;
				font-family: "MuseoSansRounded700";
    		color: #4A4A4A !important;
				float: left;
				font-size: 16px;
				padding: 8px 20px;
				text-align: center;
				transition: transform 0.2s;
				margin-bottom: 10px;

				&:hover {
					background-color: #ccc;
					text-decoration: none;
				}
			}

		// }

		// .modal-backdrop,
		// .modal-takeover {
		// 	background-color: rgba(0, 0, 0, 0.8);
		// 	position: fixed;
		// 	top: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	left: 0;
		// 	-webkit-overflow-scrolling: touch;
		// 	outline: 0;
		// 	overflow-x: hidden;
		// 	overflow-y: auto;
		// }
		.modal-takeover {
			padding: 40px 0;
			clear: both;
		}
		.modal-container {
			position: relative;
			width: auto;
			padding: 30px;
			overflow-y: scroll;
		}
		.modal-width {
			margin: 0 auto;
			width: 80%;
		}
		.modal-text--center {
			text-align: center;
		}
		.modal-text--center p {
			padding-bottom: 12px;
		}
		.modal-large {
			background-color: #ffffff;
			border-radius: 10px;
			margin: 0 auto;
			padding: 60px 100px 80px;
			position: relative;
			width: 60%;
			outline: none;
			z-index: 1050;
			box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.75);
			-webkit-box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.75);
		}
		.modal-xlarge {
			background-color: #ffffff;
			border-radius: 10px;
			box-sizing: border-box;
			margin: 0 auto;
			padding: 60px 40px;
			position: relative;
			width: 80%;
			outline: none;
			z-index: 1050;
			box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.75);
			-webkit-box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.75);
		}
		.modal-large--close {
			font-size: 40px;
			font-weight: bold;
			cursor: pointer;
			position: absolute;
			height: 30px;
			width: 30px;
			right: 20px;
			top: 10px;
			opacity: 0.2;
		}
		.modal-large--close:hover {
			opacity: 0.5;
		}
		.modal-large--title {
			color: #000000;
			font-size: 25px;
			font-weight: bold;
			letter-spacing: -1px;
			margin-bottom: 20px;
			text-align: center;
		}
		.modal-xlarge--title {
			color: #000000;
			font-size: 45px;
			font-weight: bold;
			letter-spacing: -1px;
			margin-bottom: 20px;
			text-align: center;
		}

	// 	transform-origin: center;
	// }
	// .listen-modal {
	// 	background-color: #ffffff;
	// 	border-radius: 10px;
	// 	margin-left: -280px;
	// 	min-height: 300px;
	// 	padding: 20px 20px 40px;
	// 	position: absolute;
	// 	top: 120px;
	// 	left: 48.5%;
	// 	width: 550px;
	// 	outline: none;
	// 	z-index: 1050;
	// 	box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.75);
	// 	-webkit-box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.75);
	// 	-moz-box-shadow: 0 0 40px -8px rgba(0, 0, 0, 0.75);
	// }
	.listen-modal--title {
		color: #4A4A4A !important;
		font-size: 40px;
		letter-spacing: -1px;
		margin: 30px 0;
		text-align: center;
	}
	.listen-modal__list {
		display: flex;
		flex-wrap: wrap;
		margin-left: 150px;
	}
	.listen-modal__list a {
		background-image: image-url('listen_on_small.svg');
		background-repeat: no-repeat;
		background-size: 30px auto;
		color: #4A4A4A !important;
		flex: 0 35%;
		font-size: 17px;
		font-weight: normal;
		margin-right: 30px;
		padding: 18px 0 18px 40px;
		transition: transform 0.2s;
		text-decoration: none;
	}
	.listen-modal__list:hover {
		text-decoration: none;
		/* transform: scale(1.05); */
	}
	.listen-modal__item--apple {
		background-position: 0 15px;
	}
	.listen-modal__item--spotify {
		background-position: 0 -37px;
	}
	.listen-modal__item--google {
		background-position: 0 -85px;
	}
	.listen-modal__item--stitcher {
		background-position: 0 -130px;
	}
	.listen-modal__item--iheartradio {
		background-position: 0 -181px;
	}
	.listen-modal__item--tunein {
		background-position: 0 -227px;
	}
	.listen-modal__item--rss {
		background-position: 0 -287px;
	}
	.listen-modal__item--overcast {
		background-position: 0 -335px;
	}
	.listen-modal__item--pocketcasts {
		background-position: 0 -385px;
	}
	.listen-modal__item--castro {
		background-position: 0 -435px;
	}
	.listen-modal__item--castbox {
		background-position: 0 -485px;
	}
	.listen-modal__item--podchaser {
		background-position: 0 -535px;
	}
	.listen-modal__item--pandora {
		background-position: 0 -586px;
	}
	.listen-modal__item--podcastaddict {
		background-position: 0 -639px;
	}
	.listen-modal__item--deezer {
		background-position: 0 -694px;
	}
	.listen-modal__item--listennotes {
		background-position: 0 -747px;
	}
	.listen-modal__item--amazon {
		background-position: 0 -796px;
	}
	.listen-modal__item--playerfm {
		background-position: 0 -846px;
	}
	.listen-modal__item--jiosaavn {
		background-position: 0 -896px;
	}
	.listen-modal__item--gaana {
		background-position: 0 -946px;
	}
	.listen-modal__item--podcastindex {
		background-position: 0 -996px;
	}
	.listen-modal__item--podfriend {
		background-position: 0 -1046px;
	}

@media screen and (max-width: 800px) {
    body {
        background: #fff none !important;
    }
    .social-nav {
        padding: 20px 0 0 0 !important;
        text-align: center !important;
    }
    .social-nav a:last-child {
        margin-right: 0 !important;
    }
    .podcast-info__artwork--image {
        text-align: center !important;
    }
    .podcast-info__artwork--author {
        text-align: center !important;
    }
    .listen__item {
        margin-bottom: 10px !important;
    }
    .podcast-info {
        display: inherit !important;
        margin-bottom: 40px !important;
    }
    .podcast-info__listen {
        overflow: hidden !important;
    }
    .episode-list--title {
        font-size: 21px !important;
        padding-right: 20px !important;
    }
    .episode-list--artwork {
        flex: 0 0 60px !important;
    }
    .episode__podcast-title {
        font-size: 35px !important;
    }
    .episode__title {
        line-height: 25px !important;
        margin-top: 10px !important;
    }
    .episode__details {
        font-size: 13px !important;
    }
    .episode__nav--item {
        padding: 0px 15px 7px !important;
    }
    .episode__nav--item-hide {
        display: none !important;
    }
    .episode-flex {
        display: block !important;
    }
    .episode__left {
        margin-right: 0 !important;
    }
    .episode__description {
        width: 100% !important;
    }
    .episode__sidebar {
        margin-top: 40px !important;
    }
    .transcription__row {
        display: inherit !important;
    }
    .transcription--speaker {
        color: #000000 !important;
        display: inline-block !important;
    }
    .transcription--timestamp {
        display: inline-block !important;
        margin-left: 10px !important;
    }
    .transcription--content {
        padding-top: 5px !important;
    }
    .episode__share {
        display: inline-block !important;
        margin: 10px 0 20px 0 !important;
    }
    .episode__share-column--small {
        margin-top: 10px !important;
    }
    .share__container {
        justify-content: flex-start !important;
    }
    .listing__container {
        display: block !important;
        overflow: hidden !important;
    }
    /* .listen-modal {
        margin-left: -158px !important;
        top: 70px !important;
        width: 290px !important;
    } */
    .listen-modal--title {
        font-size: 25px !important;
        margin: 40px 0 20px 0 !important;
    }
    .listen-modal__list {
        margin-left: 60px !important;
    }
    .listen-modal__list a {
        flex: 0 60% !important;
        margin: 5px 30px 5px 0 !important;
        padding: 10px 0px 10px 50px !important;
    }
    .listen-modal__item--apple {
        background-position: 0 6px !important;
    }
    .listen-modal__item--spotify {
        background-position: 0 -47px;
    }
    .listen-modal__item--google {
        background-position: 0 -95px;
    }
    .listen-modal__item--stitcher {
        background-position: 0 -139px;
    }
    .listen-modal__item--iheart-radio {
        background-position: 0 -191px;
    }
    .listen-modal__item--tunein {
        background-position: 0 -237px;
    }
    .listen-modal__item--rss {
        background-position: 0 -297px;
    }
    .listen-modal__item--overcast {
        background-position: 0 -345px;
    }
    .listen-modal__item--pocketcasts {
        background-position: 0 -395px;
    }
    .listen-modal__item--castro {
        background-position: 0 -445px;
    }
    .listen-modal__item--castbox {
        background-position: 0 -495px;
    }
    .listen-modal__item--podchaser {
        background-position: 0 -545px;
    }
    .listen-modal__item--pandora {
        background-position: 0 -593px;
    }
    .listen-modal__item--podcastaddict {
        background-position: 0 -647px;
    }
    .listen-modal__item--deezer {
        background-position: 0 -702px;
    }
    .listen-modal__item--listennotes {
        background-position: 0 -756px;
    }
    .listen-modal__item--amazon {
        background-position: 0 -807px;
    }
    .listen-modal__item--playerfm {
        background-position: 0 -857px;
    }
    .listen-modal__item--jiosaavn {
        background-position: 0 -907px;
    }
    .listen-modal__item--gaana {
        background-position: 0 -957px;
    }
    .listen-modal__item--podcastindex {
        background-position: 0 -1006px;
    }
    a.brand {
        display: inline-block;
        width: 195px;
        margin-right: 10px;
        vertical-align: top;
    }
}	