@font-face {
    font-family: 'MuseoSansRounded300';
    src: url('../fonts/MuseoSansRounded300.woff2') format('woff2'),
         url('../fonts/MuseoSansRounded300.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSansRounded500';
    src: url('../fonts/MuseoSansRounded500.woff2') format('woff2'),
         url('../fonts/MuseoSansRounded500.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSansRounded700';
    src: url('../fonts/MuseoSansRounded700.woff2') format('woff2'),
         url('../fonts/MuseoSansRounded700.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSlab300';
    src: url('../fonts/MuseoSlab300.woff2') format('woff2'),
         url('../fonts/MuseoSlab300.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSlab300Italic';
    src: url('../fonts/MuseoSlab300Italic.woff2') format('woff2'),
         url('../fonts/MuseoSlab300Italic.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSlab500';
    src: url('../fonts/MuseoSlab500.woff2') format('woff2'),
         url('../fonts/MuseoSlab500.woff') format('woff');
}

@font-face {
    font-family: 'GeorgiaBold';
    src: url('../fonts/GeorgiaBold.woff2') format('woff2'),
         url('../fonts/GeorgiaBold.woff') format('woff');
}
