@font-face {
    font-family: 'MuseoSansRounded300';
    src: font-url('MuseoSansRounded300.woff2') format('woff2'),
         font-url('MuseoSansRounded300.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSansRounded500';
    src: font-url('MuseoSansRounded500.woff2') format('woff2'),
         font-url('MuseoSansRounded500.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSansRounded700';
    src: font-url('MuseoSansRounded700.woff2') format('woff2'),
         font-url('MuseoSansRounded700.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSlab300';
    src: font-url('MuseoSlab300.woff2') format('woff2'),
         font-url('MuseoSlab300.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSlab300Italic';
    src: font-url('MuseoSlab300Italic.woff2') format('woff2'),
         font-url('MuseoSlab300Italic.woff') format('woff');
}

@font-face {
    font-family: 'MuseoSlab500';
    src: font-url('MuseoSlab500.woff2') format('woff2'),
         font-url('MuseoSlab500.woff') format('woff');
}

@font-face {
    font-family: 'GeorgiaBold';
    src: font-url('GeorgiaBold.woff2') format('woff2'),
         font-url('GeorgiaBold.woff') format('woff');
}
