@charset 'utf-8';

:root {
  --ios-gap: 0px;
}

body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3Csvg width='5' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Crect fill='%23fafafa' id='canvas_background' height='5' width='5' /%3E%3C/g%3E%3Cg%3E%3Cellipse stroke='%23fafafa' ry='1' rx='1' id='svg_4' cy='2.5' cx='2.5' stroke-width='0' fill='%23e1e1e1'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: repeat;
}

body.homepage,
body.current-jobs {

  &:before {
    content: '';
    background-image: image_url("global-ducks-web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

// body.client-services:not(.client-services-callback) {

//   &:before {
//     content: '';
//     background-image: image_url("global-sunglasses-web.jpg");
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: fixed;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     z-index: -1;
//   }
// }

body.about-us {

  &:before {
    content: '';
    background-image: image_url("global-fruit-web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

.select2 {
  width: 100% !important;
}
.select2-container  {

  .select2-selection {
    padding: 10px;
    font-family: "MuseoSansRounded300";
    font-size: 12px;
    line-height: 12px;
    color: #4A4A4A;
    text-transform: uppercase;
    border: 0.85px solid #9B9B9B;
    border-radius: 2.25px;
    height: 34px;

    @include media-breakpoint-up(lg) {
      padding: 12px 10px;
      font-size: 14px;
      line-height: 14px;
      border-width: 1px;
      border-radius: 3px;
      height: 40px;
    }

    @include media-breakpoint-up(xl) {
      padding: 14.4px 12px;
      font-size: 16.8px;
      line-height: 16.8px;
      border-width: 1.2px;
      border-radius: 3.6px;
      height: 48px;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  .select2-selection--single {

    .select2-selection__rendered {
      line-height: 12px;
      padding: 0;

      @include media-breakpoint-up(lg) {
        line-height: 14px;
      }

      @include media-breakpoint-up(xl) {
        line-height: 16.8px;
      }
    }

    .select2-selection__placeholder {
      color: #4A4A4A;
    }

    .select2-selection__arrow {
      top: 0;
      right: 0;
      width: 34px;
      height: 34px;
      background-color: #F1F1F2;
      border: 0.85px solid #9B9B9B;
      border-radius: 2.25px;

      @include media-breakpoint-up(lg) {
        width: 40px;
        height: 40px;
        border-width: 1px;
        border-radius: 3px;
      }

      @include media-breakpoint-up(xl) {
        width: 48px;
        height: 48px;
        border-width: 1.2px;
        border-radius: 3.6px;
      }
    }
  }

  .select2-results__option {
    padding: 10px;
    font-family: "MuseoSansRounded300";
    font-size: 12px;
    line-height: 12px;
    color: #4A4A4A;
    text-transform: uppercase;
    height: 34px;
    background-color: $white !important;

    @include media-breakpoint-up(lg) {
      padding: 12px 10px;
      font-size: 14px;
      line-height: 14px;
      height: 40px;
    }

    @include media-breakpoint-up(xl) {
      padding: 14.4px 12px;
      font-size: 16.8px;
      line-height: 16.8px;
      height: 48px;
    }
  }

  .select2-results__options {
    max-height: 500px !important;
  }

  .select2-results__option--highlighted {
    background-color: #F1F1F2 !important;
    color: #4A4A4A !important;
  }

  &--open {
    .select2-selection {
      border-bottom: none;
    }
  }


  .select2-selection--multiple {
    overflow: hidden;
    height: auto !important;

    &.select2-selection {
      padding: 12px;
    }

    .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      width: auto;
    }

    .select2-selection__choice {
      // margin-top: 0 !important;
      // flex-shrink: 1;
    }
  
    .select2-selection__clear {
      margin-top: 0 !important;
    }
  
    .select2-selection__clear {
      display: none !important;
    }

    .select2-selection__choice ~ .select2-search--inline  {
      // width: 0 !important;
      overflow: hidden;
    }
  
    .select2-search--inline .select2-search__field {
      // width: auto !important;
      // flex-shrink: 0;
      width: 103% !important;
      margin: 0;
      color: #4A4A4A;
      text-transform: uppercase;

      &::placeholder {
        color: #4A4A4A;
      }      
    }
  }

}


.owl-carousel.off {
    display: block;
}

#submit-cv-modal.show {
  display: flex !important;

  .modal-dialog {
    margin: auto;
  }

}

.tooltip.bs-tooltip-top {

  .tooltip-inner {
    background-color: #1dabfb;
  }

  .arrow::before {
    border-top-color: #1dabfb !important;
  }  
}